---
interface Props {
    tags: string[]
}

const { tags } = Astro.props
---

<ul class="tags_wrapper">
    {tags.map(tag => (
        <li>{tag}</li>
    ))}
</ul>


<style is:inline>
    .tags_wrapper {
        list-style-type: none;
        padding: 0;
    }

    .tags_wrapper > li {
        display: inline-block;
        padding: .2rem 1rem;
        background: linear-gradient(to right, #f1ead6, #f1d587, #f5d170);
        margin-right: 1rem;
        color: black;
        border-radius: .365rem;
    }

    .tags_wrapper > li::before {
        content: "#";
    }
</style>