@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --hero-bg-dark: rgba(23, 23, 23, 1);
  --hero-bg-mid-dark: rgba(23, 23, 23, 0.5);
  --hero-bg-white: rgba(243, 244, 246, 1);
  --hero-bg-mid-white: rgba(243, 244, 246, 0.5);
}

/* .dark body {
  background: linear-gradient(to bottom, hsl(204.37deg 25% 6%), #171717 70%);
} */

.btn-read {
  position: relative;
  background: #0f1c29;
  border: 2px solid #1b3154;
  overflow: hidden;
  color: #4c79c3;
}

.screen {
  height: calc(100vh - 14.5rem);
}

.dark .screen {
  background: linear-gradient(to bottom, hsl(204.37deg 25% 6%), #171717 70%);
}

.hero-gradient-l {
  background: radial-gradient(circle at center, transparent, transparent, var(--hero-bg-white) 90%),
    radial-gradient(circle at center, var(--hero-bg-mid-white), var(--hero-bg-mid-dark), transparent);
}

.dark .hero-gradient-l {
  background: radial-gradient(circle at center, transparent, transparent, var(--hero-bg-dark) 90%),
    radial-gradient(circle at center, var(--hero-bg-mid-dark), var(--hero-bg-mid-dark), transparent);
}
