@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-read {
  position: relative;
  background: #0f1c29;
  border: 2px solid #1b3154;
  overflow: hidden;
  color: #4c79c3;
}

.screen {
  height: calc(100vh - 17.3rem);
}

/* Gallery */

.gallery-container {
  display: grid;
  grid-template-areas: 
  "g1 g2 g3"
  "g1 g4 g5";

  gap: 4px;
}

.gallery-container > * {
  object-fit: cover;
  object-position: center;
}

.gallery-container > :nth-child(1) {
  grid-area: g1;
  height: 100%;
  @apply rounded-l-lg;
}

.gallery-container > :nth-child(2) {
  grid-area: g2;
  
  @apply rounded-none;
}

.gallery-container > :nth-child(3) {
  grid-area: g3;
  @apply rounded-tr-lg;
}

.gallery-container > :nth-child(4) {
  grid-area: g4;
  border-radius: 0px;
}

.gallery-container > :nth-child(5) {
  grid-area: g5;

  @apply rounded-br-lg;
}

/* Navbar */

.nextra-nav-container-blur {
  box-shadow: none !important; /* Override dark */
}

.nextra-nav-container nav {
  @apply py-14
}

/* Adjust sidebar to padding */ 
.nextra-sidebar-container, .nextra-scrollbar {
  @apply top-11 lg:top-28
}

[role="tab"] {
  margin-left: 3px;
}